* {
  box-sizing:border-box;
  }
  
body {
  margin:0;
  overflow:hidden;
  background-color:#14bdac;
  }
  
.container {
  display:grid;
  grid-template-columns:repeat(3, 100px);
  grid-template-rows:repeat(3, 100px);
  position:absolute;
  left:40%;
  top:30%;
  visibility:hidden;
  }
  
.container > div {
  border:3px solid black;
  text-align:center;
  font-size:6rem;
  user-select:none;
  }
  
.container > div:nth-child(-n + 3) {
  border-top:none;
  }
  
.container > div:nth-child(3n) {
  border-right:none;
  }
  
.container > div:nth-child(3n - 2) {
  border-left:none;
  }
  
.container > div:nth-child(n + 7) {
  border-bottom:none;
  }

p {
 font-size:2rem;
 color:red;
 position:absolute;
  bottom:200px;
  left:44.5%;
  
 }

input {
  display:block;
  
  }
  
input:focus {
outline:0px solid white;
}

.restartMove {
  position:absolute;
  bottom:200px;
  left:42%;
  visibility:hidden;
  }
  
.names {
  position:absolute;
  left:42%;
  top:38%;
  }
  
.enterButton {
  position:relative;
  left:190px;
  bottom:20.5px;
  }

.chooseButtons {
position:relative;
bottom:20px;
left:15px;
visibility:hidden;
}

.nameButton {

}

